In [78]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import math
import dateutil

In [108]:
df = pd.read_csv('Chicago_Crime_Detective.csv')
df

/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py:3062: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Unnamed: 0,ID,Date,LocationDescription,Arrest,Domestic,Beat,District,CommunityArea,Year
0,0,8951354,12/31/12 23:15,STREET,False,False,623,6,69,2012
1,1,8951141,12/31/12 22:00,STREET,False,False,1213,12,24,2012
2,2,8952745,12/31/12 22:00,RESIDENTIAL YARD (FRONT/BACK),False,False,1622,16,11,2012
3,3,8952223,12/31/12 22:00,STREET,False,False,724,7,67,2012
4,4,8951608,12/31/12 21:30,STREET,False,False,211,2,35,2012
...,...,...,...,...,...,...,...,...,...,...
191636,191636,1310068,1/1/01 0:05,STREET,False,False,1123,NaN,NaN,2001
191637,191637,1313404,1/1/01 0:01,STREET,False,False,2023,NaN,NaN,2001
191638,191638,1313442,1/1/01 0:01,STREET,False,False,911,NaN,NaN,2001
191639,191639,1563324,1/1/01 0:01,STREET,False,False,1712,NaN,NaN,2001
191640,191640,1310463,1/1/01 0:01,STREET,False,False,1911,NaN,NaN,2001

In [71]:
np.median(df['Year'])

2006.0

In [63]:
# df['Date'].astype('datetime64[ns]').quantile(.5)

In [64]:
# df_datetime_format = pd.to_datetime(df['Date'])
# length = len(df_datetime_format)
# sorted(df_datetime_format)[length//2]

In [66]:
# df_datetime_format

In [67]:
# df['Date'] = pd.to_datetime(df.Date)

In [88]:
df.dtypes

Unnamed: 0              int64
ID                      int64
Date                   object
LocationDescription    object
Arrest                   bool
Domestic                 bool
Beat                    int64
District               object
CommunityArea          object
Year                    int64
dtype: object

In [110]:
df['Date'] = df['Date'].apply(dateutil.parser.parse, dayfirst=True)

In [111]:
df['Date']

0        2012-12-31 23:15:00
1        2012-12-31 22:00:00
2        2012-12-31 22:00:00
3        2012-12-31 22:00:00
4        2012-12-31 21:30:00
                 ...
191636   2001-01-01 00:05:00
191637   2001-01-01 00:01:00
191638   2001-01-01 00:01:00
191639   2001-01-01 00:01:00
191640   2001-01-01 00:01:00
Name: Date, Length: 191641, dtype: datetime64[ns]

In [112]:
df.ID.count()

191641

In [235]:
df.Date.value_counts()

2008-05-16 00:00:00    11
2001-10-17 22:00:00    10
2005-09-17 22:00:00    10
2004-04-13 21:00:00    10
2001-12-10 22:00:00     9
                       ..
2006-07-11 08:00:00     1
2011-02-03 08:00:00     1
2004-07-02 15:00:00     1
2009-01-25 15:00:00     1
2004-08-31 00:20:00     1
Name: Date, Length: 131680, dtype: int64

In [215]:
df.groupby('Date').first()
# df.groupby('Date').groups.keys()
# df

,Unnamed: 0,ID,LocationDescription,Arrest,Domestic,Beat,District,CommunityArea,Year,date,time
Date,,,,,,,,,,,
2001-01-01 00:01:00,191637,1313404,STREET,False,False,2023,NaN,NaN,2001,2001-01-01,00:01:00
2001-01-01 00:05:00,191634,1918610,RESIDENCE-GARAGE,False,False,2514,NaN,NaN,2001,2001-01-01,00:05:00
2001-01-01 00:30:00,191632,1310446,STREET,False,False,2122,NaN,NaN,2001,2001-01-01,00:30:00
2001-01-01 01:17:00,191631,1310583,PARKING LOT/GARAGE(NON.RESID.),False,False,433,NaN,NaN,2001,2001-01-01,01:17:00
2001-01-01 01:50:00,191630,1310022,STREET,True,False,2233,NaN,NaN,2001,2001-01-01,01:50:00
...,...,...,...,...,...,...,...,...,...,...,...
2012-12-31 20:10:00,6,8950760,STREET,False,False,423,4,48,2012,2012-12-31,20:10:00
2012-12-31 20:30:00,5,8950793,STREET,True,False,2521,25,19,2012,2012-12-31,20:30:00
2012-12-31 21:30:00,4,8951608,STREET,False,False,211,2,35,2012,2012-12-31,21:30:00
2012-12-31 22:00:00,1,8951141,STREET,False,False,1213,12,24,2012,2012-12-31,22:00:00
2012-12-31 23:15:00,0,8951354,STREET,False,False,623,6,69,2012,2012-12-31,23:15:00

In [252]:
# df['date'] = [d.date() for d in df['Date']]
df['date'] = [d for d in df['Date'].dt.weekday_name]
df['time'] = [d.time() for d in df['Date']]

In [253]:
df.groupby('date').first()

,Unnamed: 0,ID,Date,LocationDescription,Arrest,Domestic,Beat,District,CommunityArea,Year,time
date,,,,,,,,,,,
Friday,126,8951518,2012-12-28 23:45:00,STREET,False,False,2023,20,77,2012,23:45:00
Monday,0,8951354,2012-12-31 23:15:00,STREET,False,False,623,6,69,2012,23:15:00
Saturday,86,9042047,2012-12-29 23:30:00,STREET,False,False,1113,15,25,2012,23:30:00
Sunday,40,8950474,2012-12-30 23:00:00,STREET,False,False,831,8,66,2012,23:00:00
Thursday,185,8954069,2012-12-27 23:15:00,STREET,False,False,711,7,68,2012,23:15:00
Tuesday,260,8944631,2012-12-25 22:00:00,STREET,False,False,2515,25,19,2012,22:00:00
Wednesday,229,8945136,2012-12-26 23:40:00,STREET,False,False,1013,10,29,2012,23:40:00

In [255]:
df.groupby('Year').count()

,Unnamed: 0,ID,Date,LocationDescription,Arrest,Domestic,Beat,District,CommunityArea,date,time
Year,,,,,,,,,,,
2001,20669,20669,20669,20669,20669,20669,20669,122,586,20669,20669
2002,18753,18753,18753,18753,18753,18753,18753,494,14236,18753,18753
2003,16657,16657,16657,16657,16657,16657,16657,12977,16657,16657,16657
2004,16862,16862,16862,16862,16862,16862,16862,16824,16861,16862,16862
2005,16484,16484,16484,16484,16484,16484,16484,16403,16484,16484,16484
2006,16098,16098,16098,16098,16098,16098,16098,16069,16097,16098,16098
2007,14280,14280,14280,14280,14280,14280,14280,14271,14280,14280,14280
2008,14445,14445,14445,14445,14445,14445,14445,14280,14445,14445,14445
2009,12167,12167,12167,12167,12167,12167,12167,12040,12166,12167,12167
2010,15497,15497,15497,15497,15497,15497,15497,15484,15497,15497,15497
2011,15637,15637,15637,15637,15637,15637,15637,15622,15637,15637,15637
2012,14092,14092,14092,14092,14092,14092,14092,14003,14092,14092,14092